.header-logo img {
    max-width: 150px;  
    height: auto;
  }
 
.tp-footer-area {
  padding: 40px 0; /* Điều chỉnh chiều cao */
}

.tp-footer-area a {
  text-decoration: none; 
}

.tp-footer-area a:hover {
  text-decoration: underline;  
}
/* Sticky Header */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(240, 102, 109); 
  box-shadow: 0 2px 5px rgba(235, 229, 229, 0.1); /* Tạo hiệu ứng đổ bóng */
}

 
body {
  padding-top: 100px;  
}
